@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-noto-serif-bengali: var(--font-noto-serif-bengali);
  --font-jetbrains-mono: var(--font-jetbrains-mono);
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.prose {
  max-width: none;
}

.prose p {
  margin-bottom: 1.5em;
}

.font-jetbrains-mono {
  font-family: var(--font-jetbrains-mono);
}

.font-noto-serif-bengali {
  font-family: var(--font-noto-serif-bengali);
}